# --- Mongo (two connections) ---
MONGO_URI_SOURCE=mongodb+srv://psychouser:Psycho%401234@psychometriccluster.jryoayj.mongodb.net/Bandhan?retryWrites=true&w=majority&appName=PsychometricCluster
MONGO_URI_RESULTS=mongodb+srv://psychouser:Psycho%401234@psychometriccluster.jryoayj.mongodb.net/Bandhan_wpd_report?retryWrites=true&w=majority&appName=PsychometricCluster

# If the quizzes collection has a custom name (can contain spaces); default provided:
QUIZ_COLLECTION=school students
QUIZ_ID=career_school_v1

# --- App ---
PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# --- Gmail SMTP (App Password or OAuth2 app password preferred) ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=ikscbandhan@gmail.com
SMTP_PASS=sfhh gdsb tgzg ywxj
FROM_EMAIL=ikscbandhan@gmail.com
FROM_NAME=IKSC Bandhan

# --- Branding ---
BRAND_SITE=https://www.ikscbandhan.in
